user out put:
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

user out put:
10 11 12 13 14 15 16 17 18 19

In [2]:
for num in range (10,20):
    print(num, end=',')

10,11,12,13,14,15,16,17,18,19,

user out put:
[10,20,14,55,43,87,76]
Number of item in the List2:
7

In [3]:
list2=[10,20,14,55,43,87,76]
print("[10,20,14,55,43,87,76]")
print("Number of item in the list2:")
print(len(list2))

[10,20,14,55,43,87,76]
Number of item in the list2:
7

user out put:
Artificial Intelligence 
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [4]:
let = "Artificial Intelligence"
for x in let:
    print(x)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

user out put:
-Your Name-
-Your Age-
-Your Profession-

In [5]:
det=("-Your Name-","-Your Age-","-Your Profession-")
for x in det:
    print(x)

-Your Name-
-Your Age-
-Your Profession-

user out put:
(1,'Welcome', 2,'Hope')

In [6]:
let=[1,'Welcome', 2,'Hope']
y=tuple(let)
print(let)

[1, 'Welcome', 2, 'Hope']

user out put:
((0,11,2,3,),('python', 'hope'))

In [7]:
mix_tuple=((0,11,2,3,),('python', 'hope'))
print(mix_tuple)

((0, 11, 2, 3), ('python', 'hope'))

user out put:
(20,10,16,19,25,1,276,188)
19 is odd
25 is odd
1 is odd

In [8]:
Num1=(20,10,16,25,1,276,188)
print(Num1)
for num in Num1:
    if(num%2==1):
        print(num,"odd")

(20, 10, 16, 25, 1, 276, 188)
25 odd
1 odd

user out put:
(20,10,16,19,25,1,276,188)
20 is odd
10 is odd
16 is odd
276 is odd
188 is odd

In [9]:
Num1=(20,10,16,25,1,276,188)
print(Num1)
for num in Num1:
    if(num%2==0):
        print(num,"odd")

(20, 10, 16, 25, 1, 276, 188)
20 odd
10 odd
16 odd
276 odd
188 odd